doctype html
html
  head
    title= title
  body
    svg(style="height: 1000px;width:100%", xmlns="http://www.w3.org/2000/svg")
    script(src="/javascripts/d3.min.js")
    script(src="/javascripts/circleMenu.js")

